@import url('https://fonts.googleapis.com/css2?family=Italiana&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.italiana-regular {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1.italiana-regular {
    font-size: 3rem;
}

p.italiana-regular {
    font-size: 1.5rem;
    text-align: justify;
}
