.flex-start {
    display: flex;
    justify-content: flex-start;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.center {
    display: flex;
    justify-content: center;
}

.space-around div,
.space-between div,
.space-evenly div {
    margin: 0;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.space-around {
    display: flex;
    justify-content: space-around;
}

.space-evenly {
    display: flex;
    justify-content: space-evenly;
}
