.float .right {
    float: right;
    background-color: aqua ;
    width: 100px;
    height: 100px;
}

.float .left {
    float: left;
    background-color: blueviolet;
    width: 100px;
    height: 100px;
}

.float:after {
    content: "";
    display: block;
    clear: both;
}

.float-blog img {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

.float-blog p {
    text-align: justify;
}
